<%= @expansion %>

<%= form_for @expansion do |f| %>

  <div class="field">
    <%= f.select :box_type, Expansion::BOX_TYPES %>
  </div>
  <div class="actions">
    <%= f.submit "Update!", :class => 'btn' %>
  </div>

<% end %>