<div id="expansion-filter-form">
  <%= render 'filter' %>
</div>

<div id="encounter-result">
  <% if @encounter %>
    <p><%= @encounters.count %></p>
    <%= render @encounter %>
  <% else %>
    <%= content_tag :div, "Select a location." %>
  <% end %>
</div>